@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    touch-action: pan-x pan-y;
    height: 100%
}

@layer base {
    input {
        @apply h-12 text-base rounded-md p-2 px-3
        text-gray-900 placeholder:text-gray-700
        border border-gray-400 ring-1 ring-gray-400
        focus:outline-none focus:border-gray-800 focus:ring-1 focus:ring-gray-800
        disabled:bg-white disabled:text-gray-500 disabled:border-gray-300 disabled:placeholder:text-gray-500
        invalid:outline-none invalid:border-red-900 invalid:ring-1 invalid:ring-red-900
        focus:invalid:border-red-900 focus:invalid:ring-1 focus:invalid:ring-red-900;
    }

    button, [type="button"], [type="reset"], [type="submit"] {
        @apply py-4 px-5 
        bg-gray-900 text-white font-bold text-base
        flex items-center justify-center w-full rounded-md;
    }
}

@layer components {
    #api {
        @apply space-y-6;
    }
}