@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Mulish, system-ui, sans-serif;
    }

    body {
        background-color: #FAD000;
    }
}

@layer components {
    .claims-provider-list-buttons {
        @apply my-4;
    }

    .claims-provider-list-buttons .intro {
        @apply hidden;
    }

    .claims-provider-list-buttons .options {
        @apply grid grid-cols-2 gap-4;
    }

    .claims-provider-list-buttons .options div {
        @apply flex;
    }

    .claims-provider-list-buttons .options button {
        @apply flex items-center justify-center w-full border-2 border-[#231F20] rounded-md p-3 font-bold text-sm;
    }

    .claims-provider-list-buttons .options button#AppleExchange {
        @apply bg-[#231F20] text-white;
    }

    .divider {
        @apply hidden;
    }

    form {
        @apply text-lg space-y-6;
    }

    form .intro {
        @apply font-bold;
    }

    form .entry {
        @apply space-y-4;
    }

    form .entry-item {
        @apply flex flex-col space-y-2 relative;
    }

    .entry-item label {
        @apply font-normal text-sm text-[#353535];
    }

    .entry-item input {
        @apply h-12 text-base border border-[#D9D9D9] rounded-md p-2 px-3 placeholder:text-[#353535] text-[#231F20];
    }

    #forgotPassword {
        @apply hidden;
    }

    .rememberMe {
        @apply hidden;
    }

    .buttons button {
        @apply flex items-center justify-center w-full rounded-md p-2 py-4 font-bold text-base bg-[#231F20] text-white;
    }

    .create p {
        @apply flex items-center justify-center mt-10 font-normal text-base text-[#353535];
    }

    .create a {
        @apply font-bold text-base underline ml-4 text-[#353535];
    }
}

button#GoogleExchange::before,
button#AppleExchange::before {
    content: "";
    background-color: transparent;
    width: 17px;
    height: 17px;
    margin-right: 8px;
}

button#GoogleExchange::before {
    background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0377 7.3776H14.5007V7.34993H8.50065V10.0166H12.2683C11.7187 11.5689 10.2417 12.6833 8.50065 12.6833C6.29165 12.6833 4.50065 10.8923 4.50065 8.68327C4.50065 6.47427 6.29165 4.68327 8.50065 4.68327C9.52032 4.68327 10.448 5.06793 11.1543 5.69627L13.04 3.8106C11.8493 2.70093 10.2567 2.0166 8.50065 2.0166C4.81898 2.0166 1.83398 5.0016 1.83398 8.68327C1.83398 12.3649 4.81898 15.3499 8.50065 15.3499C12.1823 15.3499 15.1673 12.3649 15.1673 8.68327C15.1673 8.23627 15.1213 7.79993 15.0377 7.3776Z' fill='%23FFC107'/%3E%3Cpath d='M2.60156 5.58027L4.7919 7.1866C5.38456 5.71927 6.8199 4.68327 8.49956 4.68327C9.51923 4.68327 10.4469 5.06793 11.1532 5.69627L13.0389 3.8106C11.8482 2.70093 10.2556 2.0166 8.49956 2.0166C5.9389 2.0166 3.71823 3.46227 2.60156 5.58027Z' fill='%23FF3D00'/%3E%3Cpath d='M8.49945 15.3505C10.2215 15.3505 11.7861 14.6915 12.9691 13.6198L10.9058 11.8738C10.2365 12.3808 9.40445 12.6838 8.49945 12.6838C6.76545 12.6838 5.29312 11.5782 4.73845 10.0352L2.56445 11.7102C3.66779 13.8692 5.90845 15.3505 8.49945 15.3505Z' fill='%234CAF50'/%3E%3Cpath d='M15.037 7.37825H14.5V7.35059H8.5V10.0173H12.2677C12.0037 10.7629 11.524 11.4059 10.9053 11.8743C10.9057 11.8739 10.906 11.8739 10.9063 11.8736L12.9697 13.6196C12.8237 13.7523 15.1667 12.0173 15.1667 8.68392C15.1667 8.23692 15.1207 7.80059 15.037 7.37825Z' fill='%231976D2'/%3E%3C/svg%3E") no-repeat;
}

button#AppleExchange::before {
    background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2483 11.8039C13.9033 12.5702 13.737 12.9127 13.2933 13.5889C12.672 14.5339 11.7958 15.7139 10.7133 15.7214C9.74953 15.7302 9.50077 15.0927 8.19203 15.1039C6.88452 15.1102 6.61203 15.7339 5.64703 15.7239C4.56328 15.7139 3.73452 14.6514 3.11327 13.7077C1.37577 11.0614 1.19203 7.95891 2.26577 6.30891C3.02577 5.13891 4.22703 4.45141 5.35578 4.45141C6.50577 4.45141 7.22827 5.08266 8.17828 5.08266C9.10077 5.08266 9.66202 4.45016 10.992 4.45016C11.997 4.45016 13.0595 4.99766 13.8195 5.94266C11.3345 7.30516 11.7383 10.8539 14.2483 11.8039ZM9.98203 3.39391C10.4658 2.77266 10.8333 1.89641 10.6995 1.00391C9.91078 1.05766 8.98828 1.56141 8.44952 2.21391C7.96077 2.80891 7.55577 3.69141 7.71327 4.54516C8.57452 4.57266 9.46577 4.05891 9.98203 3.39391Z' fill='white'/%3E%3C/svg%3E") no-repeat;
}

.showPassword, .hidePassword {
    position: absolute;
    left: auto;
    right: 16px;
    bottom: 16px;
    z-index: 5;
    position: absolute;
    width: 16px;
    height: 16px;
}

.hidePassword {
    background: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4C8.41146 4 8.79948 4.07812 9.16406 4.23438C9.52865 4.39062 9.84635 4.60677 10.1172 4.88281C10.3932 5.15365 10.6094 5.47135 10.7656 5.83594C10.9219 6.20052 11 6.58854 11 7C11 7.41667 10.9219 7.80729 10.7656 8.17188C10.6094 8.53125 10.3932 8.84896 10.1172 9.125C9.84635 9.39583 9.52865 9.60938 9.16406 9.76562C8.79948 9.92188 8.41146 10 8 10C7.58333 10 7.19271 9.92188 6.82812 9.76562C6.46875 9.60938 6.15104 9.39583 5.875 9.125C5.60417 8.84896 5.39062 8.53125 5.23438 8.17188C5.07812 7.80729 5 7.41667 5 7C5 6.58854 5.07812 6.20052 5.23438 5.83594C5.39062 5.47135 5.60417 5.15365 5.875 4.88281C6.15104 4.60677 6.46875 4.39062 6.82812 4.23438C7.19271 4.07812 7.58333 4 8 4ZM8 9C8.27604 9 8.53385 8.94792 8.77344 8.84375C9.01823 8.73958 9.23177 8.59635 9.41406 8.41406C9.59635 8.23177 9.73958 8.02083 9.84375 7.78125C9.94792 7.53646 10 7.27604 10 7C10 6.72396 9.94792 6.46615 9.84375 6.22656C9.73958 5.98177 9.59635 5.76823 9.41406 5.58594C9.23177 5.40365 9.01823 5.26042 8.77344 5.15625C8.53385 5.05208 8.27604 5 8 5C7.72396 5 7.46354 5.05208 7.21875 5.15625C6.97917 5.26042 6.76823 5.40365 6.58594 5.58594C6.40365 5.76823 6.26042 5.98177 6.15625 6.22656C6.05208 6.46615 6 6.72396 6 7C6 7.27604 6.05208 7.53646 6.15625 7.78125C6.26042 8.02083 6.40365 8.23177 6.58594 8.41406C6.76823 8.59635 6.97917 8.73958 7.21875 8.84375C7.46354 8.94792 7.72396 9 8 9ZM8 0C8.74479 0 9.48438 0.09375 10.2188 0.28125C10.9531 0.463542 11.6458 0.734375 12.2969 1.09375C12.9479 1.45312 13.5365 1.89844 14.0625 2.42969C14.5938 2.95573 15.026 3.5625 15.3594 4.25C15.5677 4.68229 15.7266 5.13021 15.8359 5.59375C15.9453 6.05208 16 6.52083 16 7H15C15 6.38542 14.9062 5.8099 14.7188 5.27344C14.5312 4.73698 14.2708 4.2474 13.9375 3.80469C13.6094 3.36198 13.2214 2.96615 12.7734 2.61719C12.3255 2.26823 11.8411 1.97396 11.3203 1.73438C10.8047 1.49479 10.263 1.3125 9.69531 1.1875C9.1276 1.0625 8.5625 1 8 1C7.4375 1 6.8724 1.0625 6.30469 1.1875C5.73698 1.3125 5.19271 1.49479 4.67188 1.73438C4.15625 1.97396 3.67448 2.26823 3.22656 2.61719C2.77865 2.96615 2.38802 3.36198 2.05469 3.80469C1.72656 4.2474 1.46875 4.73698 1.28125 5.27344C1.09375 5.8099 1 6.38542 1 7H0C0 6.52083 0.0546875 6.05208 0.164062 5.59375C0.273438 5.13021 0.432292 4.68229 0.640625 4.25C0.973958 3.5625 1.40365 2.95573 1.92969 2.42969C2.46094 1.89844 3.05208 1.45312 3.70312 1.09375C4.35417 0.734375 5.04688 0.463542 5.78125 0.28125C6.51562 0.09375 7.25521 0 8 0Z' fill='%23231F20'/%3E%3C/svg%3E") no-repeat center;
}

.showPassword {
    background: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4C8.41146 4 8.79948 4.07812 9.16406 4.23438C9.52865 4.39062 9.84635 4.60677 10.1172 4.88281C10.3932 5.15365 10.6094 5.47135 10.7656 5.83594C10.9219 6.20052 11 6.58854 11 7C11 7.41667 10.9219 7.80729 10.7656 8.17188C10.6094 8.53125 10.3932 8.84896 10.1172 9.125C9.84635 9.39583 9.52865 9.60938 9.16406 9.76562C8.79948 9.92188 8.41146 10 8 10C7.58333 10 7.19271 9.92188 6.82812 9.76562C6.46875 9.60938 6.15104 9.39583 5.875 9.125C5.60417 8.84896 5.39062 8.53125 5.23438 8.17188C5.07812 7.80729 5 7.41667 5 7C5 6.58854 5.07812 6.20052 5.23438 5.83594C5.39062 5.47135 5.60417 5.15365 5.875 4.88281C6.15104 4.60677 6.46875 4.39062 6.82812 4.23438C7.19271 4.07812 7.58333 4 8 4ZM8 9C8.27604 9 8.53385 8.94792 8.77344 8.84375C9.01823 8.73958 9.23177 8.59635 9.41406 8.41406C9.59635 8.23177 9.73958 8.02083 9.84375 7.78125C9.94792 7.53646 10 7.27604 10 7C10 6.72396 9.94792 6.46615 9.84375 6.22656C9.73958 5.98177 9.59635 5.76823 9.41406 5.58594C9.23177 5.40365 9.01823 5.26042 8.77344 5.15625C8.53385 5.05208 8.27604 5 8 5C7.72396 5 7.46354 5.05208 7.21875 5.15625C6.97917 5.26042 6.76823 5.40365 6.58594 5.58594C6.40365 5.76823 6.26042 5.98177 6.15625 6.22656C6.05208 6.46615 6 6.72396 6 7C6 7.27604 6.05208 7.53646 6.15625 7.78125C6.26042 8.02083 6.40365 8.23177 6.58594 8.41406C6.76823 8.59635 6.97917 8.73958 7.21875 8.84375C7.46354 8.94792 7.72396 9 8 9ZM8 0C8.74479 0 9.48438 0.09375 10.2188 0.28125C10.9531 0.463542 11.6458 0.734375 12.2969 1.09375C12.9479 1.45312 13.5365 1.89844 14.0625 2.42969C14.5938 2.95573 15.026 3.5625 15.3594 4.25C15.5677 4.68229 15.7266 5.13021 15.8359 5.59375C15.9453 6.05208 16 6.52083 16 7H15C15 6.38542 14.9062 5.8099 14.7188 5.27344C14.5312 4.73698 14.2708 4.2474 13.9375 3.80469C13.6094 3.36198 13.2214 2.96615 12.7734 2.61719C12.3255 2.26823 11.8411 1.97396 11.3203 1.73438C10.8047 1.49479 10.263 1.3125 9.69531 1.1875C9.1276 1.0625 8.5625 1 8 1C7.4375 1 6.8724 1.0625 6.30469 1.1875C5.73698 1.3125 5.19271 1.49479 4.67188 1.73438C4.15625 1.97396 3.67448 2.26823 3.22656 2.61719C2.77865 2.96615 2.38802 3.36198 2.05469 3.80469C1.72656 4.2474 1.46875 4.73698 1.28125 5.27344C1.09375 5.8099 1 6.38542 1 7H0C0 6.52083 0.0546875 6.05208 0.164062 5.59375C0.273438 5.13021 0.432292 4.68229 0.640625 4.25C0.973958 3.5625 1.40365 2.95573 1.92969 2.42969C2.46094 1.89844 3.05208 1.45312 3.70312 1.09375C4.35417 0.734375 5.04688 0.463542 5.78125 0.28125C6.51562 0.09375 7.25521 0 8 0Z' fill='%23231F20'/%3E%3C/svg%3E") no-repeat center;
}