@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    touch-action: pan-x pan-y;
    height: 100%
}

@layer base {
    input {
        @apply h-12 text-base rounded-md p-2 px-3
        text-gray-900 placeholder:text-gray-700
        border border-gray-400 ring-1 ring-gray-400
        focus:outline-none focus:border-gray-800 focus:ring-1 focus:ring-gray-800
        disabled:bg-white disabled:text-gray-500 disabled:border-gray-300 disabled:placeholder:text-gray-500
        invalid:outline-none invalid:border-red-900 invalid:ring-1 invalid:ring-red-900
        focus:invalid:border-red-900 focus:invalid:ring-1 focus:invalid:ring-red-900;
    }

    button, [type="button"], [type="reset"], [type="submit"] {
        @apply py-4 px-5 
        bg-gray-900 text-white font-bold text-base
        flex items-center justify-center w-full rounded-md;
    }

    button#GoogleExchange::before,
    button#AppleExchange::before {
        content: "";
        background-color: transparent;
        width: 17px;
        height: 17px;
        margin-right: 8px;
    }

    button#GoogleExchange {
        @apply bg-white text-gray-900;
    }

    button#GoogleExchange::before {
        background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0377 7.3776H14.5007V7.34993H8.50065V10.0166H12.2683C11.7187 11.5689 10.2417 12.6833 8.50065 12.6833C6.29165 12.6833 4.50065 10.8923 4.50065 8.68327C4.50065 6.47427 6.29165 4.68327 8.50065 4.68327C9.52032 4.68327 10.448 5.06793 11.1543 5.69627L13.04 3.8106C11.8493 2.70093 10.2567 2.0166 8.50065 2.0166C4.81898 2.0166 1.83398 5.0016 1.83398 8.68327C1.83398 12.3649 4.81898 15.3499 8.50065 15.3499C12.1823 15.3499 15.1673 12.3649 15.1673 8.68327C15.1673 8.23627 15.1213 7.79993 15.0377 7.3776Z' fill='%23FFC107'/%3E%3Cpath d='M2.60156 5.58027L4.7919 7.1866C5.38456 5.71927 6.8199 4.68327 8.49956 4.68327C9.51923 4.68327 10.4469 5.06793 11.1532 5.69627L13.0389 3.8106C11.8482 2.70093 10.2556 2.0166 8.49956 2.0166C5.9389 2.0166 3.71823 3.46227 2.60156 5.58027Z' fill='%23FF3D00'/%3E%3Cpath d='M8.49945 15.3505C10.2215 15.3505 11.7861 14.6915 12.9691 13.6198L10.9058 11.8738C10.2365 12.3808 9.40445 12.6838 8.49945 12.6838C6.76545 12.6838 5.29312 11.5782 4.73845 10.0352L2.56445 11.7102C3.66779 13.8692 5.90845 15.3505 8.49945 15.3505Z' fill='%234CAF50'/%3E%3Cpath d='M15.037 7.37825H14.5V7.35059H8.5V10.0173H12.2677C12.0037 10.7629 11.524 11.4059 10.9053 11.8743C10.9057 11.8739 10.906 11.8739 10.9063 11.8736L12.9697 13.6196C12.8237 13.7523 15.1667 12.0173 15.1667 8.68392C15.1667 8.23692 15.1207 7.80059 15.037 7.37825Z' fill='%231976D2'/%3E%3C/svg%3E") no-repeat;
    }

    button#AppleExchange::before {
        background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2483 11.8039C13.9033 12.5702 13.737 12.9127 13.2933 13.5889C12.672 14.5339 11.7958 15.7139 10.7133 15.7214C9.74953 15.7302 9.50077 15.0927 8.19203 15.1039C6.88452 15.1102 6.61203 15.7339 5.64703 15.7239C4.56328 15.7139 3.73452 14.6514 3.11327 13.7077C1.37577 11.0614 1.19203 7.95891 2.26577 6.30891C3.02577 5.13891 4.22703 4.45141 5.35578 4.45141C6.50577 4.45141 7.22827 5.08266 8.17828 5.08266C9.10077 5.08266 9.66202 4.45016 10.992 4.45016C11.997 4.45016 13.0595 4.99766 13.8195 5.94266C11.3345 7.30516 11.7383 10.8539 14.2483 11.8039ZM9.98203 3.39391C10.4658 2.77266 10.8333 1.89641 10.6995 1.00391C9.91078 1.05766 8.98828 1.56141 8.44952 2.21391C7.96077 2.80891 7.55577 3.69141 7.71327 4.54516C8.57452 4.57266 9.46577 4.05891 9.98203 3.39391Z' fill='white'/%3E%3C/svg%3E") no-repeat;
    }
}

@layer components {
    #api {
        @apply space-y-6;
    }

    .claims-provider-list-buttons {
        @apply my-4;
    }

    .claims-provider-list-buttons .intro {
        @apply hidden;
    }

    .claims-provider-list-buttons .options {
        @apply grid grid-cols-2 gap-4;
    }

    .claims-provider-list-buttons .options div {
        @apply flex;
    }

    .claims-provider-list-buttons .options button {
        @apply flex items-center justify-center w-full border-2 border-gray-900 rounded-md p-3 font-bold text-sm;
    }

    .claims-provider-list-buttons .options button#AppleExchange {
        @apply bg-gray-900 text-white;
    }

    .divider {
        @apply hidden;
    }

    form {
        @apply text-lg space-y-4;
    }

    form .intro {
        @apply font-bold;
    }

    form .entry {
        @apply space-y-4;
    }

    form .entry-item {
        @apply flex flex-col space-y-2 relative;
    }

    .entry-item label {
        @apply font-normal text-sm text-gray-800;
    }

    /* .entry-item input {
        
    } */

    #forgotPassword {
        @apply hidden;
    }

    .rememberMe {
        @apply hidden;
    }

    .buttons button {
        @apply mt-8;
    }

    .create p {
        @apply flex items-center justify-center mt-10 font-normal text-base text-gray-800;
    }

    .create a {
        @apply font-bold text-base underline ml-4 text-gray-800;
    }
}



/* .showPassword,
.hidePassword {
    position: absolute;
    left: auto;
    right: 16px;
    bottom: 16px;
    z-index: 5;
    width: auto;
    height: auto;
} */

.showPassword, .hidePassword {
    position: absolute;
    left: auto;
    right: 6px;
    bottom: 8px;
    z-index: 5;
    width: auto;
    height: auto;
}

.hidePassword {
    background: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.5 12C16.9844 12 17.4375 12.0911 17.8594 12.2734C18.2865 12.4557 18.6589 12.7057 18.9766 13.0234C19.2943 13.3411 19.5443 13.7135 19.7266 14.1406C19.9089 14.5625 20 15.0156 20 15.5C20 15.9844 19.9089 16.4401 19.7266 16.8672C19.5443 17.2891 19.2943 17.6589 18.9766 17.9766C18.6589 18.2943 18.2865 18.5443 17.8594 18.7266C17.4375 18.9089 16.9844 19 16.5 19C16.0156 19 15.5599 18.9089 15.1328 18.7266C14.7109 18.5443 14.3411 18.2943 14.0234 17.9766C13.7057 17.6589 13.4557 17.2891 13.2734 16.8672C13.0911 16.4401 13 15.9844 13 15.5C13 15.0156 13.0911 14.5625 13.2734 14.1406C13.4557 13.7135 13.7057 13.3411 14.0234 13.0234C14.3411 12.7057 14.7109 12.4557 15.1328 12.2734C15.5599 12.0911 16.0156 12 16.5 12ZM14 15.5C14 15.8438 14.0651 16.1693 14.1953 16.4766C14.3255 16.7786 14.5026 17.0443 14.7266 17.2734C14.9557 17.4974 15.2214 17.6745 15.5234 17.8047C15.8307 17.9349 16.1562 18 16.5 18C16.7448 18 16.9844 17.9661 17.2188 17.8984C17.4531 17.8255 17.6719 17.7214 17.875 17.5859L14.4141 14.125C14.2786 14.3281 14.1745 14.5469 14.1016 14.7812C14.0339 15.0156 14 15.2552 14 15.5ZM18.5859 16.875C18.7214 16.6719 18.8229 16.4531 18.8906 16.2188C18.9635 15.9844 19 15.7448 19 15.5C19 15.1562 18.9323 14.8333 18.7969 14.5312C18.6667 14.2292 18.487 13.9661 18.2578 13.7422C18.0339 13.513 17.7708 13.3333 17.4688 13.2031C17.1667 13.0677 16.8438 13 16.5 13C16.2552 13 16.0156 13.0365 15.7812 13.1094C15.5469 13.1771 15.3281 13.2786 15.125 13.4141L18.5859 16.875ZM4.00781 11.0156L4 11.0391V11L4.00781 11.0156ZM18.9297 11.1328C18.8359 10.5911 18.6719 10.0885 18.4375 9.625C18.2031 9.16146 17.9141 8.73958 17.5703 8.35938C17.2266 7.97917 16.8411 7.64323 16.4141 7.35156C15.987 7.0599 15.5312 6.8151 15.0469 6.61719C14.5625 6.41406 14.0625 6.26042 13.5469 6.15625C13.0312 6.05208 12.5156 6 12 6C11.4323 6 10.8646 6.0625 10.2969 6.1875C9.73438 6.3125 9.19271 6.49479 8.67188 6.73438C8.15625 6.97396 7.67448 7.26823 7.22656 7.61719C6.77865 7.96615 6.38802 8.36198 6.05469 8.80469C5.72656 9.2474 5.46875 9.73698 5.28125 10.2734C5.09375 10.8099 5 11.3854 5 12H4C4 11.2917 4.10417 10.6276 4.3125 10.0078C4.52604 9.38802 4.82031 8.82031 5.19531 8.30469C5.57031 7.78385 6.01042 7.32031 6.51562 6.91406C7.02604 6.5026 7.57552 6.15625 8.16406 5.875C8.75781 5.58854 9.38021 5.3724 10.0312 5.22656C10.6823 5.07552 11.3385 5 12 5C12.651 5 13.2995 5.07552 13.9453 5.22656C14.5964 5.3724 15.2161 5.58594 15.8047 5.86719C16.3932 6.14323 16.9401 6.48438 17.4453 6.89062C17.9557 7.29167 18.3984 7.75 18.7734 8.26562C19.1484 8.77604 19.4427 9.33854 19.6562 9.95312C19.875 10.5677 19.9896 11.2266 20 11.9297C19.6823 11.6224 19.3255 11.3568 18.9297 11.1328ZM12 10C11.724 10 11.4635 10.0521 11.2188 10.1562C10.9792 10.2604 10.7682 10.4036 10.5859 10.5859C10.4036 10.7682 10.2604 10.9818 10.1562 11.2266C10.0521 11.4661 10 11.724 10 12C10 12.25 10.0443 12.4896 10.1328 12.7188C10.2214 12.9427 10.3411 13.1432 10.4922 13.3203C10.6484 13.4974 10.8307 13.6458 11.0391 13.7656C11.2526 13.8802 11.4844 13.9531 11.7344 13.9844C11.6302 14.3177 11.5625 14.6432 11.5312 14.9609C11.1667 14.9036 10.8307 14.7865 10.5234 14.6094C10.2161 14.4323 9.94792 14.2135 9.71875 13.9531C9.49479 13.6875 9.31771 13.388 9.1875 13.0547C9.0625 12.7214 9 12.3698 9 12C9 11.5885 9.07812 11.2005 9.23438 10.8359C9.39062 10.4714 9.60417 10.1536 9.875 9.88281C10.151 9.60677 10.4688 9.39062 10.8281 9.23438C11.1927 9.07812 11.5833 9 12 9C12.2969 9 12.5859 9.04427 12.8672 9.13281C13.1484 9.21615 13.4089 9.33854 13.6484 9.5C13.888 9.65625 14.1016 9.84635 14.2891 10.0703C14.4818 10.2943 14.638 10.5417 14.7578 10.8125C14.4349 10.9323 14.1354 11.0807 13.8594 11.2578C13.7812 11.0703 13.6797 10.8984 13.5547 10.7422C13.4297 10.5859 13.2865 10.4531 13.125 10.3438C12.9635 10.2344 12.7865 10.151 12.5938 10.0938C12.401 10.0312 12.2031 10 12 10Z' fill='%23231F20'/%3e%3c/svg%3e") no-repeat center;
}

.showPassword {
    background: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4C8.41146 4 8.79948 4.07812 9.16406 4.23438C9.52865 4.39062 9.84635 4.60677 10.1172 4.88281C10.3932 5.15365 10.6094 5.47135 10.7656 5.83594C10.9219 6.20052 11 6.58854 11 7C11 7.41667 10.9219 7.80729 10.7656 8.17188C10.6094 8.53125 10.3932 8.84896 10.1172 9.125C9.84635 9.39583 9.52865 9.60938 9.16406 9.76562C8.79948 9.92188 8.41146 10 8 10C7.58333 10 7.19271 9.92188 6.82812 9.76562C6.46875 9.60938 6.15104 9.39583 5.875 9.125C5.60417 8.84896 5.39062 8.53125 5.23438 8.17188C5.07812 7.80729 5 7.41667 5 7C5 6.58854 5.07812 6.20052 5.23438 5.83594C5.39062 5.47135 5.60417 5.15365 5.875 4.88281C6.15104 4.60677 6.46875 4.39062 6.82812 4.23438C7.19271 4.07812 7.58333 4 8 4ZM8 9C8.27604 9 8.53385 8.94792 8.77344 8.84375C9.01823 8.73958 9.23177 8.59635 9.41406 8.41406C9.59635 8.23177 9.73958 8.02083 9.84375 7.78125C9.94792 7.53646 10 7.27604 10 7C10 6.72396 9.94792 6.46615 9.84375 6.22656C9.73958 5.98177 9.59635 5.76823 9.41406 5.58594C9.23177 5.40365 9.01823 5.26042 8.77344 5.15625C8.53385 5.05208 8.27604 5 8 5C7.72396 5 7.46354 5.05208 7.21875 5.15625C6.97917 5.26042 6.76823 5.40365 6.58594 5.58594C6.40365 5.76823 6.26042 5.98177 6.15625 6.22656C6.05208 6.46615 6 6.72396 6 7C6 7.27604 6.05208 7.53646 6.15625 7.78125C6.26042 8.02083 6.40365 8.23177 6.58594 8.41406C6.76823 8.59635 6.97917 8.73958 7.21875 8.84375C7.46354 8.94792 7.72396 9 8 9ZM8 0C8.74479 0 9.48438 0.09375 10.2188 0.28125C10.9531 0.463542 11.6458 0.734375 12.2969 1.09375C12.9479 1.45312 13.5365 1.89844 14.0625 2.42969C14.5938 2.95573 15.026 3.5625 15.3594 4.25C15.5677 4.68229 15.7266 5.13021 15.8359 5.59375C15.9453 6.05208 16 6.52083 16 7H15C15 6.38542 14.9062 5.8099 14.7188 5.27344C14.5312 4.73698 14.2708 4.2474 13.9375 3.80469C13.6094 3.36198 13.2214 2.96615 12.7734 2.61719C12.3255 2.26823 11.8411 1.97396 11.3203 1.73438C10.8047 1.49479 10.263 1.3125 9.69531 1.1875C9.1276 1.0625 8.5625 1 8 1C7.4375 1 6.8724 1.0625 6.30469 1.1875C5.73698 1.3125 5.19271 1.49479 4.67188 1.73438C4.15625 1.97396 3.67448 2.26823 3.22656 2.61719C2.77865 2.96615 2.38802 3.36198 2.05469 3.80469C1.72656 4.2474 1.46875 4.73698 1.28125 5.27344C1.09375 5.8099 1 6.38542 1 7H0C0 6.52083 0.0546875 6.05208 0.164062 5.59375C0.273438 5.13021 0.432292 4.68229 0.640625 4.25C0.973958 3.5625 1.40365 2.95573 1.92969 2.42969C2.46094 1.89844 3.05208 1.45312 3.70312 1.09375C4.35417 0.734375 5.04688 0.463542 5.78125 0.28125C6.51562 0.09375 7.25521 0 8 0Z' fill='%23231F20'/%3E%3C/svg%3E") no-repeat center;
}